@use '../abstract/variables';
@use '../abstract/mixins';

.siteHeader{
    background: variables.$background-color;
    padding: 2rem;
    margin-bottom: 3.5rem ;
}

.siteHeader__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
} 

.siteHeader__container__logo{
    display: flex;
    align-items: center;
    gap:8px
}

.siteHeader__container__logo:hover{
    cursor:pointer;
}



.siteHeader__container__logo__name{
    @include mixins.ff-fs-fw-fc(variables.$primary-font,18px,500,variables.$logo-color)
}

.siteHeader__container__menu{
    display: flex;
    margin-right: 7.5rem;
    align-items: center;
    gap: 32px;
    @include mixins.ff-fs-fw-fc(variables.$primary-font,16px,500,variables.$secundary-color)
}

.siteHeader__container__menu:hover{
    cursor:pointer;
}


.siteHeader__container__enterOrRegister{
    display: flex;
    align-items: center;
    gap: 48px;
}

.siteHeader__container__enterOrRegister__enter{
    @include mixins.ff-fs-fw-fc(variables.$primary-font,16px,500,variables.$secundary-color);
}

.siteHeader__container__enterOrRegister__enter:hover{
    cursor:pointer;
}

.siteHeader__container__enterOrRegister__register{
    @include mixins.registerStyle();
    @include mixins.ff-fs-fw-fc(variables.$primary-font,16px,500,variables.$background-color);
}


.siteHeader__container__enterOrRegister__register:hover{
    @include mixins.registerStyleHover(); 
}
