@use '../abstract/variables';
@use '../abstract/mixins';

.metrics{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-bottom: 12.25rem;
}

.metrics__projects, .metrics__collabers,.metrics__downloads,.metrics__reviews{
    width: 280px;
    
    h1{
        @include mixins.ff-fs-fw-fc(variables.$primary-font,60px,600,variables.$primary-color);
        margin-bottom: 0.75rem;
    } 

    h3{
        @include mixins.ff-fs-fw-fc(variables.$primary-font,18px,500,variables.$terciary-color);
        width: 280px;
        margin-bottom: 0.5rem;
    }

    p{
        @include mixins.ff-fs-fw-fc(variables.$primary-font,16px,400,variables.$secundary-color);
        line-height: 24px;
    }

}



