@use '../abstract/variables';
@use '../abstract/mixins';

.siteFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    padding: 96px 0px;

    background: var(--Gray-50, #F9FAFB);
}

.siteFooter__container{
    h1{
        @include mixins.ff-fs-fw-fc(variables.$primary-font,36px,600,variables.$terciary-color);
        text-align: center
    }

    h3{
        @include mixins.ff-fs-fw-fc(variables.$primary-font,20px,400,variables.$secundary-color);
        text-align: center;

    }
}