@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$background-color:#FFFFFF;
$logo-color:#3A404E;
$primary-color:#8E2424;
$secundary-color:#667085;
$terciary-color:#101828;

$primary-font: 'Inter', sans-serif;








  