@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
} 
.siteHeader {
  background: #FFFFFF;
  padding: 2rem;
  margin-bottom: 3.5rem;
}

.siteHeader__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.siteHeader__container__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.siteHeader__container__logo__name {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #3A404E;
}

.siteHeader__container__menu {
  display: flex;
  margin-right: 7.5rem;
  align-items: center;
  gap: 32px;
}

.siteHeader__container__menu {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #667085;
}

.siteHeader__container__enterOrRegister {
  display: flex;
  align-items: center;
  gap: 48px;
}

.siteHeader__container__enterOrRegister__enter {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #667085;
}

.siteHeader__container__enterOrRegister__register {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 18px;
  border-radius: 8px;
  border: 1px solid #8E2424;
  background: #8E2424;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutUs__title {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #8E2424;
  margin-bottom: 1.5rem;
}

.aboutUs__different {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #101828;
  line-height: 60px;
  letter-spacing: 0, 96px;
  margin-bottom: 2.25rem;
}

.aboutUs__text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #667085;
  line-height: 30px;
  text-align: center;
  width: 791px;
  margin-bottom: 7rem;
}

.metrics {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-bottom: 12.25rem;
}

.metrics__projects, .metrics__collabers, .metrics__downloads, .metrics__reviews {
  width: 280px;
}
.metrics__projects h1, .metrics__collabers h1, .metrics__downloads h1, .metrics__reviews h1 {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-weight: 600;
  color: #8E2424;
  margin-bottom: 0.75rem;
}
.metrics__projects h3, .metrics__collabers h3, .metrics__downloads h3, .metrics__reviews h3 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #101828;
  width: 280px;
  margin-bottom: 0.5rem;
}
.metrics__projects p, .metrics__collabers p, .metrics__downloads p, .metrics__reviews p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #667085;
  line-height: 24px;
}

.vacancies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vacancies__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.vacancies__text p {
  padding: 4px 12px;
  width: 101px;
  border-radius: 16px;
  background: rgba(142, 36, 36, 0.05);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #8E2424;
}
.vacancies__text h1 {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #101828;
  text-align: center;
  letter-spacing: -0.72px;
}
.vacancies__text h2 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #667085;
  margin-bottom: 4rem;
}

.jobs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

.jobs__design, .jobs__dev {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
.jobs__design h3, .jobs__dev h3 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #101828;
}

.jobs__design__product, .jobs__design__ux, .jobs__dev__ios, .jobs__dev__frontend {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  border-radius: 16px;
  border: 1px solid var(--Gray-200, #EAECF0);
  padding: 24px 24px 28px 24px;
  width: 768px;
  gap: 32px;
}
.jobs__design__product h4, .jobs__design__ux h4, .jobs__dev__ios h4, .jobs__dev__frontend h4 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #101828;
}
.jobs__design__product p, .jobs__design__ux p, .jobs__dev__ios p, .jobs__dev__frontend p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #667085;
}

.jobs__design__product__info, .jobs__design__ux__info, .jobs__dev__ios__info, .jobs__dev__frontend__info {
  display: flex;
  gap: 24px;
}

.depositions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border-radius: 16px;
  background: rgba(195, 25, 25, 0.03);
  padding: 64px;
  width: 1088px;
}
.depositions h3 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #8E2424;
  margin-bottom: 1rem;
}
.depositions h1 {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: #101828;
  text-align: center;
  line-height: 44px;
  letter-spacing: -0.72px;
  margin-bottom: 2rem;
}

.depositions__name {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #101828;
  margin-top: 1rem;
}

.depositions__profession {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #667085;
  margin-top: 0.25rem;
}

.siteFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  padding: 96px 0px;
  background: var(--Gray-50, #F9FAFB);
}
.siteFooter p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--Gray-400, #98A2B3);
  text-align: center;
  margin-top: 2rem;
}

.siteFooter__container h1 {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #101828;
  text-align: center;
  margin-bottom: 1.25rem;
}
.siteFooter__container h3 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #667085;
  text-align: center;
  margin-bottom: 2.5rem;
}

.siteFooter__container__forms {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.siteFooter__container__forms__email {
  display: flex;
  padding: 12px 14px 12px 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  background: var(--Base-White, #FFF);
  width: 360px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.siteFooter__container__forms__email::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #667085;
}

.siteFooter__container__forms__email::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #667085;
}

.siteFooter__container__forms__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 18px;
  border-radius: 8px;
  border: 1px solid #8E2424;
  background: #8E2424;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}